<h1>This is the project show page.</h1>

<%= @project.name %>
<%= @project.desc %>

<%= link_to "Edit", edit_project_path(@project) %>
<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>

<h1>Progress Updates</h1>
<%= link_to "Add Progress", new_project_progress_path(@project) %>
<%= render @project.progresses %>

<%= link_to "Home", projects_path %>
